@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
  scroll-behavior: smooth;
}

*{
    font-family: Poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("assets/wmremove-transformed\ \(1\).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;       
    background-attachment: fixed;
}

header{
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 50px;
    z-index: 1000;
}

header li{
    color: black;
    font-weight: 500;   
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: black;
}

header img{
    width: 90px;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


#banner{
    background-image: url("assets/Background-censura.png");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    color: white;
    padding-top: 72px;
}

#banner-back{
    background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-texto{
    width: 50vw;
    padding-left: 30px;
}

.banner-texto h1{
    font-size: 4rem;
}
.banner-texto p{
    font-size: 1.5rem;
}

#oficina-main{
    /* scroll-margin-top: 72px; */
    background-color: rgba(255, 255, 255, 0.901);
    /* backdrop-filter: blur(5px); */
    align-items: center;
}

h2{
    text-align: center;
    font-size: 2.5rem;
    word-break: break-all;
}

#oficina-main h3{

    font-size: 1.5rem;
}

#oficina-main p{
    text-align: left;
    font-size: 1.2rem;
}

#sobre{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("assets/Foto_Func.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    scroll-margin-top: 72px;
}

#sobre h2{
    margin-top: 60px;
}


#sobre-back{
    background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
#sobre-obj{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#sobre-obj p{
    font-size: 1.5rem;
    width: 90vw;
    max-width: 100vw;
    justify-content: right;
    overflow-x: hidden;
    word-break: break-word;
}

#contato{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.901);
    /* backdrop-filter: blur(5px); */

}
footer{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
} 

header ul{
    display: flex;
    align-items: center;
    justify-content: center;
} 

ul{
    list-style-type: none;
}

footer p{
    text-align: center;
}

iframe{
    border-radius: 20px;
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.1);
    
}

.botao{
    background: linear-gradient(90deg,rgba(66, 117, 211, 1) 0%, rgba(60, 201, 175, 1) 100%);
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
    margin-top: 10px;
    width: fit-content;
    transition: all 0.2s ease-in-out;
    margin-left: 30px;
}

.oficina{
    background-color: rgba(255, 255, 255, 0.901);
    overflow: hidden;
    height: 0px;
    width: 80vw;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center ;
    justify-content: space-around;
}

.back-ofc{
    background-color: rgba(255, 255, 255, 0.901);
    display: flex;
    align-items: center ;
    overflow: hidden;
    justify-content: space-around;
}

.botao:hover{
    scale: 1.05;
}

.txt-ofc{
    position: relative;
    overflow-y: hidden;
    width: 40%;
}


.show{
    height: 250px;
    transition: all 0.5s ease-in-out;
}

.img-ofc{
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    max-width: 50vh;
    max-height: 30vh;
}

#oficina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




#lista-oficina{
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.1);
    width: 80vw;
    border-radius: 20px;
    overflow: hidden;
}

#lista-oficina div button{
    color: black;
    padding: 10px 20px;
    width: 80vw;
    transition: all 0.2s ease-in-out;
    
}

#lista-oficina div{
    overflow-y: hidden;
}

#btn-menu {
    display: none;
}


button {
    text-align: left;
    background-color: white;
    border: none;
    transition: all 0.2s ease-in-out;
}

button:hover{
    background-color: #52bcba;
}

@media (max-width: 768px) {

    header ul {
        position: fixed;
        top: -200px;
        right: 0px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 10px;
        font-size: 1.5rem;
        border-radius: 0px 0px 20px 20px;
        background-color: white;
        transition: all 0.3s ease-in-out;
        width: 100vw;
        box-sizing: border-box;
        border: none;
        box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.1);
        overflow-x: hidden;
    }

    hr {
        width: 100%;
        margin: 0;
        border: none;
        border-top: 1px solid #e0e0e0;
    }

    header ul li{
        margin: 0;
    }

    html, body {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }   

    iframe {
        width: 80vw;
        height: 90vw;
    }

    footer{
        width: 100vw;;
    }
    
    #banner {
        background-image: url("assets/Background-censura.png");
        background-size: cover;
        background-position: 80vh;
        width: 100%;
    }

    #banner h1 {
        font-size: 2rem;
    }

    #banner p {
        font-size: 1rem;
    }

    .nav-open{
        top: 72px;
    }
    
    #contato {
        flex-direction: column;
    }

    #btn-menu {
        display: flex;
        border-radius: 10px;
    }

    #btn-menu span {
        font-size: 2.5rem;
    }

    .oficina {
        color: white;
        overflow-y: auto;
    }

    #dropdown-1 {
        background-image: url("assets/isometric-view.jpg");
        background-size: cover;
    }

    #dropdown-2 {
        background-image: url("assets/capo-bg.jpg");
        background-size: cover;
    }

    #dropdown-3 {
        background-image: url("assets/mqn-close.jpg");
        background-size: cover;
    }

    #dropdown-4 {
        background-image: url("assets/ofc-prat.jpg");
        background-size: cover;
    }

    #dropdown-5 {
        background-image: url("assets/escrit-sh.jpg");
        background-size: cover;
    }

    .back-ofc
    {
        background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .txt-ofc {
        top: 0;
        width: 100%;
        padding : 20px;
    }

    .img-ofc {
        display: none;
    }

    #sobre-back{
        display: flex;
        text-align: center;
        justify-content: center;
    }

    #sobre-obj p {
        text-align: center;
    }

    #contato ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

}

